.home-page header {
    background-image: linear-gradient(rgba(44, 197, 24, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/backgroungd-1.jpg);
}
header {
    background-size: cover;
    background-position: center;
}
